---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {}
const props = Astro.props;
---

<a
  class="border-b border-gray-300 hover:border-gray-500 hover:text-gray-900 dark:border-gray-600 dark:hover:border-gray-400 dark:hover:text-gray-200"
  {...props}
>
  <slot />
</a>
