<div
  class="flex items-center rounded-full px-3 py-[0.125rem] text-xs font-medium text-color-badge-light bg-color-badge-bg-light dark:text-color-badge-dark dark:bg-color-badge-bg-dark"
>
  <slot />
</div>
