---
import { weeklyContributions } from '../../data/weeklyContributions.js';

function getContributionCountLevel(contributionCount: number) {
  if (contributionCount === 0) {
    return 0;
  } else if (contributionCount <= 30) {
    return Math.ceil(contributionCount / 5);
  }
  return 7;
}

const contributionColorStyles = [
  'bg-gray-200 dark:bg-gray-800', // 0
  'bg-sky-200 dark:bg-sky-900', //   1--5
  'bg-sky-300 dark:bg-sky-700', //   6--10
  'bg-sky-500 dark:bg-sky-500', //   11--15
  'bg-sky-600 dark:bg-sky-400', //   16--20
  'bg-sky-700 dark:bg-sky-300', //   21--25
  'bg-sky-800 dark:bg-sky-200', //   26--30
  'bg-sky-900 dark:bg-sky-100', //   31--
];

function getColorStyle(contributionCount: number) {
  return contributionColorStyles[getContributionCountLevel(contributionCount)];
}

const months = [
  'Jan',
  'Feb',
  'Mar',
  'Apr',
  'May',
  'Jun',
  'Jul',
  'Aug',
  'Sep',
  'Oct',
  'Nov',
  'Dec',
];

function formatDate(date: Date) {
  const monthIndex = date.getMonth();
  const monthName = months[monthIndex];
  const day = date.getDate();
  const year = date.getFullYear();
  return monthName + ' ' + day + ', ' + year;
}

const weekdays = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];

function getWeekday(date: Date) {
  return weekdays[date.getDay()];
}
---

<table
  class="flex border-separate border-spacing-[3px] items-center justify-center"
>
  <tbody>
    {
      weeklyContributions.map((contributions) => {
        const halfYearIndex = Math.floor(contributions.length / 2);

        return (
          <tr>
            {contributions.map((contribution, index) => {
              const date = new Date(contribution.date);
              const isFirstHalfContribution = index < halfYearIndex;

              return (
                <td
                  class={`${getColorStyle(contribution.contributionCount)} ${
                    isFirstHalfContribution ? 'hidden md:table-cell' : ''
                  } group relative h-2.5 w-2.5 rounded-sm`}
                >
                  <span class="pointer-events-none invisible absolute left-1/2 top-[-45px] z-10 inline-block -translate-x-1/2 whitespace-nowrap rounded-md bg-black px-[0.875rem] py-[0.5625rem] text-xs text-white opacity-0 before:pointer-events-none before:absolute before:bottom-[-13px] before:left-1/2 before:z-10 before:ml-[-7px] before:border-[7px] before:border-black before:border-x-transparent before:border-b-transparent before:content-[''] group-hover:visible group-hover:opacity-100 dark:bg-gray-500 dark:text-gray-300 before:dark:border-gray-500 before:dark:border-x-transparent before:dark:border-b-transparent">
                    {`${
                      contribution.contributionCount === 0
                        ? 'No contributions'
                        : contribution.contributionCount === 1
                        ? '1 contribution'
                        : contribution.contributionCount + ' contributions'
                    } on ${getWeekday(date)}, ${formatDate(date)}`}
                  </span>
                </td>
              );
            })}
          </tr>
        );
      })
    }
  </tbody>
</table>
