---
import { mostUsedLanguages } from '../../data/mostUsedLanguages.js';

const primaryLanguageTotalSize = mostUsedLanguages[0].totalSize;
---

<table>
  <tbody>
    {
      mostUsedLanguages.slice(0, 8).map((language) => (
        <tr class="h-4">
          <td class="pr-2 text-right text-xs">{language.name}</td>
          <td class="w-full">
            <div
              class="most-used-language-bar group relative flex h-2.5 items-center rounded-full"
              style={{
                width: `${
                  (language.totalSize / primaryLanguageTotalSize) * 100
                }%`,
                backgroundColor: language.color,
              }}
            >
              <span class="most-used-language-tooltip pointer-events-none invisible absolute top-[-45px] z-10 inline-block -translate-x-1/2 whitespace-nowrap rounded-md bg-black px-[0.875rem] py-[0.5625rem] text-xs text-white opacity-0 before:pointer-events-none before:absolute before:bottom-[-13px] before:left-1/2 before:z-10 before:ml-[-7px] before:border-[7px] before:border-black before:border-x-transparent before:border-b-transparent before:content-[''] group-hover:visible group-hover:opacity-100 dark:bg-gray-500 dark:text-gray-300 before:dark:border-gray-500 before:dark:border-x-transparent before:dark:border-b-transparent">
                {language.totalSize.toLocaleString()} bytes
              </span>
            </div>
          </td>
        </tr>
      ))
    }
  </tbody>
</table>

<script>
  const bars = document.querySelectorAll<HTMLDivElement>(
    '.most-used-language-bar'
  );
  bars.forEach((bar) => {
    bar.addEventListener('mousemove', (event) => {
      const rect = bar.getBoundingClientRect();
      const mouseLeft = ((event.clientX - rect.left) / rect.width) * 100;
      const tooltip = bar.querySelector<HTMLSpanElement>(
        '.most-used-language-tooltip'
      );
      if (tooltip !== null) {
        tooltip.style.left = `${mouseLeft}%`;
      }
    });
  });
</script>
