---
import { MYNAME } from '../../../../constants/myname';
---

<div class="flex flex-col items-center">
  <a href="https://github.com/ot07" target="_blank">
    <img
      class="mb-4 h-24 w-24 rounded-full shadow-lg"
      src={`https://github.com/${MYNAME}.png`}
      alt="Bonnie image"
    />
  </a>
  <div class="mb-2 text-3xl font-extrabold dark:text-white">{MYNAME}</div>
</div>
