---
import { MYNAME } from '../../../../constants/me'
---

<div class="flex flex-col items-center">
  <a
    href={`https://github.com/neokidev`}
    target="_blank"
    rel="noopener noreferrer"
  >
    <img
      class="mb-4 h-24 w-24 rounded-full shadow-lg"
      src="__generated__/avatar.png"
      alt="Bonnie image"
    />
  </a>
  <div class="mb-2 text-3xl font-extrabold">{MYNAME}</div>
</div>
