---
import { getLangFromUrl, useTranslations } from '../../../../i18n/utils';
import GithubContributionGraph from '../../../Github/GithubContributionGraph.astro';
import EmbedMyname from './EmbedMyname.astro';
import Profile from './Profile.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="mb-6">
  <Profile />
</div>
<div class="mb-10">
  <GithubContributionGraph />
</div>
<div class="space-y-5 text-gray-700 dark:text-gray-400">
  <p class="flex items-center">
    {t.intro.greeting}<span class="ml-1 text-2xl">👋</span>
  </p>
  {
    t.intro.paragraphs.map((paragraph) => (
      <p>
        <EmbedMyname text={paragraph} />
      </p>
    ))
  }
</div>
