---
import Layout from "../layouts/Layout.astro";
import Profile from "../components/Profile.astro";
import AnchorText from "../components/AnchorText.astro";
import GithubContributionGraph from "../components/GithubContributionGraph.astro";
import GithubMostUsedLanguages from "../components/GithubMostUsedLanguages.astro";
---

<Layout title="ot07's portfolio">
  <main class="space-y-12 text-gray-700 dark:text-gray-400">
    <div class="space-y-4">
      <Profile />
      <GithubContributionGraph />
    </div>
    <hr class="border-gray-200 dark:border-gray-800"/>
    <div class="space-y-5 text-gray-700 dark:text-gray-400">
      <p class="flex items-center">
        Hi there<span class="text-2xl ml-1">👋</span>
      </p>
      <p>
        I am <strong>ot07</strong>, a web developer.
        I specialize in front-end development with React, and engage in back-end development using Laravel for work.
      </p>
    </div>
    
    <hr class="border-gray-200 dark:border-gray-800"/>
    <h1 class="text-4xl dark:text-white">Skills</h1>
    <div class="mt-8 space-y-8">
      <div>
        <h3 class="font-semibold text-gray-700 dark:text-gray-300">Languages</h3>
        <div class="mt-4 flex flex-wrap [&>*]:mr-1 [&>*]:mb-1">
          <img alt="typescript" src="https://img.shields.io/badge/TypeScript-007ACC?style=flat&logo=typescript&logoColor=white" />
          <img alt="javascript" src="https://img.shields.io/badge/JavaScript-323330?style=flat&logo=javascript&logoColor=F7DF1E" />
          <img alt="html" src="	https://img.shields.io/badge/HTML5-E34F26?style=flat&logo=html5&logoColor=white" />
          <img alt="css" src="https://img.shields.io/badge/CSS3-1572B6?style=flat&logo=css3&logoColor=white" />
          <img alt="go" src="https://img.shields.io/badge/Go-00ADD8?style=flat&logo=go&logoColor=white" />
          <img alt="rust" src="https://img.shields.io/badge/Rust-black?style=flat&logo=rust&logoColor=#E57324" />
          <img alt="python" src="https://img.shields.io/badge/Python-FFD43B?style=flat&logo=python&logoColor=blue" />
          <img alt="php" src="https://img.shields.io/badge/PHP-777BB4?style=flat&logo=php&logoColor=white" />
        </div>
      </div>
      <div>
        <h3 class="font-semibold text-gray-700 dark:text-gray-300">Frameworks & Libraries</h3>
        <div class="mt-4 flex flex-wrap [&>*]:mr-1 [&>*]:mb-1">
          <img alt="react" src="https://img.shields.io/badge/React-20232A?style=flat&logo=react&logoColor=61DAFB" />
          <img alt="nextjs" src="https://img.shields.io/badge/next.js-000000?style=flat&logo=nextdotjs&logoColor=white" />
          <img alt="tailwindcss" src="https://img.shields.io/badge/Tailwind_CSS-38B2AC?style=flat&logo=tailwind-css&logoColor=white" />
          <img alt="react-query" src="https://img.shields.io/badge/React_Query-FF4154?style=flat&logo=React_Query&logoColor=white" />
          <img alt="storybook" src="https://img.shields.io/badge/storybook-FF4785?style=flat&logo=storybook&logoColor=white" />
          <img alt="swagger" src="https://img.shields.io/badge/Swagger-85EA2D?style=flat&logo=Swagger&logoColor=white" />
          <img alt="astro" src="https://img.shields.io/badge/Astro-0C1222?style=flat&logo=astro&logoColor=FDFDFE" />
          <img alt="redux" src="https://img.shields.io/badge/Redux-593D88?style=flat&logo=redux&logoColor=white" />
          <img alt="jest" src="https://img.shields.io/badge/Jest-C21325?style=flat&logo=jest&logoColor=white" />
          <img alt="docker" src="https://img.shields.io/badge/Docker-2CA5E0?style=flat&logo=docker&logoColor=white" />
          <img alt="laravel" src="https://img.shields.io/badge/Laravel-FF2D20?style=flat&logo=laravel&logoColor=white" />
          <img alt="ansible" src="https://img.shields.io/badge/Ansible-000000?style=flat&logo=ansible&logoColor=white" />
        </div>
      </div>
      <div>
        <h3 class="font-semibold text-gray-700 dark:text-gray-300">
          Most Used Languages
        </h3>
        <div class="mt-4">
          <GithubMostUsedLanguages />
        </div>
      </div>
    </div>

    <hr class="border-gray-200 dark:border-gray-800"/>
    <h1 class="text-4xl dark:text-white">Projects</h1>
    <div class="mt-8 space-y-8">
      <div>
        <h3 class="font-semibold text-gray-700 dark:text-gray-300">JavaScript Libraries</h3>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-4">
          <a href="https://github.com/resonance-box/sf2-synth-audio-worklet" target="_blank" class="px-4 py-3 rounded-lg space-y-1 hover:bg-gray-50 overflow-hidden shadow border border-gray-50 dark:border-gray-800 dark:hover:bg-gray-800">
            <div class="text-gray-600 dark:text-gray-400">sf2-synth-audio-worklet</div>
            <div class="text-sm text-gray-400 dark:text-gray-500 font-light">An Audio Worklet-based SoundFont2 synthesizer</div>
          </a>
          <a href="https://github.com/resonance-box/recital" target="_blank" class="px-4 py-3 rounded-lg space-y-1 hover:bg-gray-50 overflow-hidden shadow border border-gray-50 dark:border-gray-800 dark:hover:bg-gray-800">
            <div class="text-gray-600 dark:text-gray-400">recital</div>
            <div class="text-sm text-gray-400 dark:text-gray-500 font-light">A musical tools for the browser</div>
          </a>
        </div>
      </div>
      <div>
        <h3 class="font-semibold text-gray-700 dark:text-gray-300">Websites</h3>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-4">
          <a href="https://music-transformer-playground.vercel.app/" target="_blank" class="px-4 py-3 rounded-lg space-y-1 hover:bg-gray-50 overflow-hidden shadow border border-gray-50 dark:border-gray-800 dark:hover:bg-gray-800">
            <div class="text-gray-600 dark:text-gray-400">Music Transformer Playground</div>
            <div class="text-sm text-gray-400 dark:text-gray-500 font-light">A playground to generate piano performances using Music Transformer</div>
          </a>
        </div>
      </div>
      <div>
        <h3 class="font-semibold text-gray-700 dark:text-gray-300">Websites for Studying</h3>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-4">
          <a href="https://myposts-hazel.vercel.app/" target="_blank" class="px-4 py-3 rounded-lg space-y-1 hover:bg-gray-50 overflow-hidden shadow border border-gray-50 dark:border-gray-800 dark:hover:bg-gray-800">
            <div class="text-gray-600 dark:text-gray-400">myposts</div>
            <div class="text-sm text-gray-400 dark:text-gray-500 font-light">A website for submitting posts written in Markdown format</div>
          </a>
          <a href="https://next-bazaar.vercel.app/" class="px-4 py-3 rounded-lg space-y-1 hover:bg-gray-50 overflow-hidden shadow border border-gray-50 dark:border-gray-800 dark:hover:bg-gray-800">
            <div class="text-gray-600 dark:text-gray-400">Next Bazaar</div>
            <div class="text-sm text-gray-400 dark:text-gray-500 font-light">A user-friendly online bazaar where users can both buy and sell their items</div>
          </a>
        </div>
      </div>
    </div>
    
    <hr class="border-gray-200 dark:border-gray-800"/>
    <h1 class="text-4xl dark:text-white">OSS Contributions</h1>
    <div class="mt-8 space-y-8">
      <div>
        <h3 class="font-semibold text-gray-700 dark:text-gray-300">Prettier</h3>
        <ul class="list-disc mt-2 [&>li]:ml-5">
          <li>
            <AnchorText href="https://github.com/prettier/prettier/pull/14830" target="_blank">
              TypeScript: Fix issue with double semicolon caused by // prettier-ignore on a call signature line (#14830)
            </AnchorText>
          </li>
        </ul>
      </div>
    </div>


    
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 44rem;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
