---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Projects - ot07's portfolio">
  <main>
    <h1 class="text-4xl dark:text-white">Projects</h1>
    <div class="mt-8 space-y-8">
      <div>
        <h3 class="font-semibold text-gray-700 dark:text-gray-300">JavaScript Libraries</h3>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-4">
          <a href="https://github.com/resonance-box/sf2-synth-audio-worklet" target="_blank" class="px-4 py-3 rounded-lg space-y-1 hover:bg-gray-50 overflow-hidden shadow border border-gray-50 dark:border-gray-800 dark:hover:bg-gray-800">
            <div class="text-gray-600 dark:text-gray-400">sf2-synth-audio-worklet</div>
            <div class="text-sm text-gray-400 dark:text-gray-500 font-light">An Audio Worklet-based SoundFont2 synthesizer</div>
          </a>
          <a href="https://github.com/resonance-box/recital" target="_blank" class="px-4 py-3 rounded-lg space-y-1 hover:bg-gray-50 overflow-hidden shadow border border-gray-50 dark:border-gray-800 dark:hover:bg-gray-800">
            <div class="text-gray-600 dark:text-gray-400">recital</div>
            <div class="text-sm text-gray-400 dark:text-gray-500 font-light">A musical tools for the browser</div>
          </a>
        </div>
      </div>
      <div>
        <h3 class="font-semibold text-gray-700 dark:text-gray-300">Websites</h3>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-4">
          <a href="https://music-transformer-playground.vercel.app/" target="_blank" class="px-4 py-3 rounded-lg space-y-1 hover:bg-gray-50 overflow-hidden shadow border border-gray-50 dark:border-gray-800 dark:hover:bg-gray-800">
            <div class="text-gray-600 dark:text-gray-400">Music Transformer Playground</div>
            <div class="text-sm text-gray-400 dark:text-gray-500 font-light">A playground to generate piano performances using Music Transformer</div>
          </a>
        </div>
      </div>
      <div>
        <h3 class="font-semibold text-gray-700 dark:text-gray-300">Websites for Studying</h3>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-4">
          <a href="https://myposts-hazel.vercel.app/" target="_blank" class="px-4 py-3 rounded-lg space-y-1 hover:bg-gray-50 overflow-hidden shadow border border-gray-50 dark:border-gray-800 dark:hover:bg-gray-800">
            <div class="text-gray-600 dark:text-gray-400">myposts</div>
            <div class="text-sm text-gray-400 dark:text-gray-500 font-light">A website for submitting posts written in Markdown format</div>
          </a>
          <a href="https://next-bazaar.vercel.app/" class="px-4 py-3 rounded-lg space-y-1 hover:bg-gray-50 overflow-hidden shadow border border-gray-50 dark:border-gray-800 dark:hover:bg-gray-800">
            <div class="text-gray-600 dark:text-gray-400">Next Bazaar</div>
            <div class="text-sm text-gray-400 dark:text-gray-500 font-light">A user-friendly online bazaar where users can both buy and sell their items</div>
          </a>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 44rem;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
