---
import GithubIcon from '../shared/icons/GithubIcon.astro';
import ZennIcon from '../shared/icons/ZennIcon.astro';
import LanguagePicker from './LanguagePicker.astro';
import ThemeToggle from './ThemeToggle.astro';
---

<header class="p-6">
  <nav class="flex">
    <div class="w-full"></div>
    <div
      class="flex w-full items-center justify-end space-x-6"
    >
      <a
        href="https://zenn.dev/ot07"
        aria-label="Zenn"
        target="_blank"
        rel="noopener noreferrer"
        class="w-[1.125rem]"
      >
        <ZennIcon />
      </a>
      <a
        href="https://github.com/ot07"
        aria-label="GitHub"
        target="_blank"
        rel="noopener noreferrer"
        class="w-[1.125rem]"
      >
        <GithubIcon />
      </a>
      <LanguagePicker />
      <ThemeToggle />
    </div>
  </nav>
</header>
