---
import LanguagePicker from './LanguagePicker.astro'
import ThemeToggle from './ThemeToggle.astro'
---

<header class="p-6">
  <nav class="flex">
    <div class="flex-1"></div>
    <div class="pointer-events-auto flex items-center justify-end space-x-6">
      <LanguagePicker />
      <ThemeToggle />
    </div>
  </nav>
</header>
