---
import GithubIcon from '../shared/icons/GithubIcon.astro';
import ZennIcon from '../shared/icons/ZennIcon.astro';
import LanguagePicker from './LanguagePicker.astro';
import ThemeToggle from './ThemeToggle.astro';
---

<header class="p-6">
  <nav class="flex">
    <div class="w-full"></div>
    <div
      class="child:dark:hover:text-gray-400 flex w-full items-center justify-end space-x-8 text-gray-500 dark:text-gray-500"
    >
      <a
        href="https://zenn.dev/ot07"
        aria-label="Zenn"
        target="_blank"
        class="hover:text-gray-600 hover:dark:text-gray-400"
      >
        <ZennIcon />
      </a>
      <a
        href="https://github.com/ot07"
        aria-label="GitHub"
        target="_blank"
        class="hover:text-gray-600 hover:dark:text-gray-400"
      >
        <GithubIcon />
      </a>
      <LanguagePicker />
      <ThemeToggle />
    </div>
  </nav>
</header>
