---
import { defaultLang,languages } from '../../i18n/translates';
---

<ul class="flex h-full items-center justify-center space-x-1.5">
  {
    Object.entries(languages).map(([lang, label], index) => (
      <>
        {index !== 0 && (
          <li class="h-4 w-[0.0625rem] bg-color-border-light dark:bg-color-border-dark" />
        )}
        <li class="flex items-center justify-center">
          <a
            href={lang === defaultLang ? '/' : `/${lang}`}
            aria-label={label}
            class="text-sm font-light hover:opacity-70"
          >
            {label}
          </a>
        </li>
      </>
    ))
  }
</ul>
