---
import GithubIcon from './GithubIcon.astro';
import LanguagePicker from './LanguagePicker.astro';
import ThemeToggle from './ThemeToggle.astro';
---

<header class="p-6">
  <nav class="flex">
    <div class="w-full"></div>
    <div
      class="w-full flex justify-end items-center space-x-8 text-gray-400 dark:text-gray-500 child:dark:hover:text-gray-400"
    >
      <a
        href="https://github.com/ot07"
        target="_blank"
        class="hover:text-gray-500 hover:dark:text-gray-400"
      >
        <GithubIcon />
      </a>
      <LanguagePicker />
      <ThemeToggle />
    </div>
  </nav>
</header>
