---
import GithubIcon from "./GithubIcon.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="p-6">
  <nav class="flex">
    <div class="w-full"></div>
    <div class="w-full flex justify-end items-center space-x-8 text-gray-400 dark:text-gray-500 child:dark:hover:text-gray-400">
      <a href="https://github.com/ot07" target="_blank" class="hover:text-gray-500 hover:dark:text-gray-400">
        <GithubIcon />
      </a>
      <div class="flex items-center h-full space-x-1.5">
        <a href="#" class="font-light text-sm hover:text-gray-500 hover:dark:text-gray-400">
          EN
        </a>
        <div class="w-[0.0625rem] bg-gray-300 dark:bg-gray-700 h-4" />
        <a href="#" class="font-light text-sm hover:text-gray-500 hover:dark:text-gray-400">
          JA
        </a>
      </div>
      <ThemeToggle />
    </div>
  </nav>
</header>
