---
import GithubIcon from "./GithubIcon.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="p-6">
  <nav class="flex">
    <div class="w-full"></div>
    <div class="w-full flex justify-end items-center space-x-6 text-gray-400 dark:text-gray-500 child:dark:hover:text-gray-400">
      <a href="https://github.com/ot07" target="_blank" class="hover:text-gray-500 dark:hover:text-gray-400">
        <GithubIcon />
      </a>
      <ThemeToggle />
    </div>
  </nav>
</header>
