---
import GithubIcon from "./GithubIcon.astro";
---

<header class="p-8">
  <nav class="flex">
    <div class="w-full"></div>
    <div class="w-full justify-end items-center space-x-4 text-gray-400 flex">
      <a href="/" class="hover:text-gray-500">Home</a>
      <a href="projects" class="hover:text-gray-500">Projects</a>
      <a href="https://github.com/ot07" target="_blank" class="hover:text-gray-500">
        <GithubIcon />
      </a>
    </div>
  </nav>
</header>
