---
const username = "ot07"
---

<div class="flex flex-col items-center pb-8">
  <a href="https://github.com/ot07" target="_blank">
    <img
      class="w-24 h-24 mb-4 rounded-full shadow-lg"
      src={`https://github.com/${username}.png`}
      alt="Bonnie image"
    />
  </a>
  <h4 class="mb-2 text-3xl font-extrabold">{username}</h4>
</div>
