---
import { GITHUB_NAME } from '../../../env'
import Layout from '../../../layouts/Layout.astro'
import OssContributions from './components/OssContributions.astro'
import Projects from './components/Projects.astro'
import SelfIntroduction from './components/SelfIntroduction.astro'
import Skills from './components/Skills.astro'
---

<Layout title={`${GITHUB_NAME}'s Portfolio`}>
  <main class="m-auto max-w-2xl p-6">
    <SelfIntroduction />
    <Skills />
    <Projects />
    <OssContributions />
  </main>
</Layout>
