---
import Layout from '../../../layouts/Layout.astro';
import { MYNAME } from '../../../constants/myname';
import SelfIntroduction from './components/SelfIntroduction.astro';
import Skills from './components/Skills.astro';
import Projects from './components/Projects.astro';
import OssContributions from './components/OssContributions.astro';
---

<Layout title={`${MYNAME}'s portfolio`}>
  <main
    class="m-auto p-6 max-w-3xl space-y-12 text-gray-700 dark:text-gray-400"
  >
    <SelfIntroduction />
    <hr class="border-gray-200 dark:border-gray-800" />
    <Skills />
    <hr class="border-gray-200 dark:border-gray-800" />
    <Projects />
    <hr class="border-gray-200 dark:border-gray-800" />
    <OssContributions />
  </main>
</Layout>
