---
import { GITHUB_NAME, GITHUB_USERNAME } from '../../constants/me'
import AnchorText from '../shared/AnchorText.astro'
---

<footer class="flex items-center justify-center p-8">
  <p
    class="text-sm text-color-text-secondary-light dark:text-color-text-secondary-dark"
  >
    {'Built by '}
    <AnchorText
      href=`https://github.com/${GITHUB_USERNAME}`
      target="_blank"
      rel="noopener noreferrer"
    >
      {GITHUB_NAME}
    </AnchorText>
    {' using '}
    <AnchorText
      href="https://astro.build"
      target="_blank"
      rel="noopener noreferrer"
    >
      {'Astro'}
    </AnchorText>
    {', hosted on '}
    <AnchorText
      href="https://vercel.com/dashboard"
      target="_blank"
      rel="noopener noreferrer"
    >
      {'Vercel'}
    </AnchorText>
    {'. The source code is available on '}
    <AnchorText
      href=`https://github.com/${GITHUB_USERNAME}/portfolio`
      target="_blank"
      rel="noopener noreferrer"
    >
      {'GitHub'}
    </AnchorText>.
  </p>
</footer>
