---
import { GITHUB_NAME, GITHUB_USERNAME } from '../../env'
import AnchorText from '../shared/ui/AnchorText.astro'
---

<footer class="flex items-center justify-center p-8">
  <p
    class="text-sm text-color-text-secondary-light dark:text-color-text-secondary-dark"
  >
    {`© ${new Date().getFullYear()} ${GITHUB_NAME}.`}
    {'Built using '}
    <AnchorText
      href="https://astro.build"
      target="_blank"
      rel="noopener noreferrer"
    >
      {'Astro'}
    </AnchorText>
    {'and hosted on '}
    <AnchorText
      href="https://vercel.com/dashboard"
      target="_blank"
      rel="noopener noreferrer"
    >
      {'Vercel'}
    </AnchorText>.
    {'The source code is available on '}
    <AnchorText
      href=`https://github.com/${GITHUB_USERNAME}/portfolio`
      target="_blank"
      rel="noopener noreferrer"
    >
      {'GitHub'}
    </AnchorText>.
  </p>
</footer>
