---
import { MYNAME } from '../../constants/myname';
---

<footer class="flex items-center justify-center p-8">
  <p class="text-sm font-light text-gray-400 dark:text-gray-500">
    &copy; 2023 {MYNAME}. All Rights Reserved.
  </p>
</footer>
