---
import { MYNAME } from '../../constants/myname';
---

<footer class="flex items-center justify-center p-8">
  <p class="text-sm text-gray-600 dark:text-gray-500">
    Built by {MYNAME} using Astro, hosted on Vercel.
  </p>
</footer>
