---
import { MYNAME } from '../../constants/myname';
import AnchorText from '../shared/AnchorText.astro';
---

<footer class="flex items-center justify-center p-8">
  <p class="text-sm text-gray-600 dark:text-gray-500">
    Built by <AnchorText class="underline underline-offset-4" href="https://github.com/ot07" target="_blank">{MYNAME}</AnchorText> using <AnchorText href="https://astro.build" target="_blank">Astro</AnchorText>, hosted on <AnchorText href="https://vercel.com/dashboard" target="_blank">Vercel</AnchorText>.
  </p>
</footer>
