<div
  class="flex items-center rounded-full bg-color-badge-bg-light px-2.5 py-[0.0625rem] text-[0.75rem] font-medium text-color-badge-light dark:bg-color-badge-bg-dark dark:text-color-badge-dark"
>
  <slot />
</div>
